%headers{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    margin-bottom: 2rem;
}