header{
h1{
    color: blue($color: #000000)
}
    
    @extend %headers;
    
}

.Logo-principal{
    width: 30%;
    height: auto;
}

.headerindex{
    background-image: url(../imagenes/Imagen-principal-de-una-playa.jpg);
    
}

.headersudamerica{

    background-image: url(../imagenes/background-sudamerica.jpg);

}

.headereuropa{
background-image: url(../imagenes/background-europa.jpg);
}

.headerespana{
    background-image: url(../imagenes/Barcelona-Espana.jpg);
}

.headercontacto{
    background-image:url(../imagenes/Concactenos.jpg);
}

@media only screen and (min-width:501px){

    .Logo-principal{
        width: 20%;
        height: auto;
    }
}

@media only screen and (min-width:1024px){

    .Logo-principal{
        width: 15%;
        height: auto;
    }

}