header{

    
    @extend %headers;
    
}

.Logo-principal{
    width: 30%;
    height: auto;
}

.headerindex{
    background-image: url(../imagenes/Imagen-principal-de-una-playa.jpg);
    
}

.headersudamerica{

    background-image: url(../imagenes/background-sudamerica.jpg);

}

.headereuropa{
background-image: url(../imagenes/background-europa.jpg);
}

.headerespana{
    background-image: url(../imagenes/Barcelona-Espana.jpg);
}

.headercontacto{
    background-image:url(../imagenes/Concactenos.jpg);
}

